@font-face{

font-family: 'NotoSerif';

font-display: auto;

src: url('../css/fonts/NotoSerif-Regular.woff');

src: url('../css/fonts/NotoSerif-Regular') format('woff');

font-weight: normal;

font-style: normal;

}

@font-face{

font-family: 'NotoSerifItalic';

font-display: auto;

src: url('../css/fonts/NotoSerif-Italic.woff');

src: url('../css/fonts/NotoSerif-Italic.woff') format('woff');

font-weight: normal;

font-style: normal;

}
html {
  scroll-behavior: smooth;
}
body{
  font-family: 'NotoSerif';
}
header{
  background-image: url('../img/bg/header.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 14px;
}
header button{
  width: 135px;
  height: 30px;
}
h2{
  margin: 0;
}
header p{
  margin: 0 !important;
}
footer{
  background-image: url('../img/bg/footer.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 14px;
  padding-top: 30px;
}
footer a{
  color: #fff;
}
footer a:hover{
  color: #fff;
  text-decoration: underline;
}
nav{
  height: 120px;
}
nav .row{
  padding-top: 18px;
}
nav a{
  text-transform: uppercase;
  color: #092040;
  font-size: 14px;
}
section h3{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.aboutServices{
  margin-top: 70px;
  padding-bottom: 70px;
}
.aboutServices img{
  float: left;
  padding-right: 10px;
  margin: auto;
}
.aboutServices p{
  margin: auto !important;
}
.animated-modal .card{
  color: #111 !important;
}
.headSliderarrows{
  position: relative;
}
.commentSLiderarrows{
  position: relative;
  top: -300px;
}
.certificatesSlider img{
  margin: auto;
}
.certificatesSliderarrows{
  position: relative;
  top: -150px
}
.partnersSliderarrows{
  position: relative;
  top: -110px;
}
.blueBtn{
  background-color: #2841BC;
  color: #fff;
  border: 0;
}
.card{
  color: #fff !important;
  border: 0;
}
.callReceptionText{
  margin-left: 30px;
}
.commentSLider {
  padding-bottom: 80px;
}
.footerImgs{
  margin-bottom: 45px;
}
.fancybox-button svg {
  color: #fff;
  margin-left: auto;
  width: 20%
}
.fancybox-content{
  padding: 0;
}
.fancybox-content button{
  width: 210px;
  height: 45px;
}
.fancybox-content .card{
    border: 0;
}
.footer-nav p{
  margin: 0 !important;
}
.headSlider .lightBlueBtn{
  width: 200px;
  height: 47px;
}
.lastRow{
  margin-top: 30px;
  padding-bottom: 25px;
}
.lightBlueBtn{
  background-color: #009DFF;
  color: #092040;
  border: 0;
}
.logIn {
  float: left;
  padding-right: 5px;
}
.logo{
  background-image: url('../img/icons/logo.png');
  background-repeat: no-repeat;
  padding-bottom: 15px;
}
.mailImg{
  float: left;
  padding-top: 4px;
  padding-right: 7px;
}
.mobileNav{
  background-image: url('../img/bg/mobileNavBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
/*белые точки слайдера*/
.my-dots {
  position: absolute;
  bottom: -200px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.my-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.my-dots li button:hover,
.my-dots li button:focus {
  outline: none;
}

.my-dots li button:hover:before,
.my-dots li button:focus:before {
  opacity: 1;
}

.my-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: url('../img/icons/whiteDot.svg');
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   
}

.my-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}

/*черыне точки слайдера*/
.certificatesSlider .my-dotsDark {
  position: absolute;
  bottom: -75px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
.partnersSlider .my-dotsDark {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.my-dotsDark {
  position: absolute;
  bottom: 20px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.my-dotsDark li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.my-dotsDark li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.my-dotsDark li button:hover,
.my-dotsDark li button:focus {
  outline: none;
}

.my-dotsDark li button:hover:before,
.my-dotsDark li button:focus:before {
  opacity: 1;
}

.my-dotsDark li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: url('../img/icons/dot.svg');
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   
}

.my-dotsDark li.slick-active button:before {
  opacity: .75;
  color: black;
}

.navbar-toggler{
  margin-left: 10px;
}
.overlayFix{
  max-height: 100px;
  color: #fff;
}
.partnersSlider img{
  margin: auto;
}
.partnersSlider div{
  height: 200px;
}
.personalInformation{
  font-size: 12px;
}
.placemarkImg{
  float: left;
  padding-bottom: 10px;
  padding-right: 7px;
}
.phoneImg{
  float: left;
  padding-top: 7px;
  padding-right: 10px;
}
.phoneNumbers{
  padding-top: 10px
}
#aboutCompany{
  background-image: url('../img/bg/sliderBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
#aboutCompany p{
  font-size: 32px;
}
#comments{
  background-image: url('../img/bg/commentsBg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
#comments .blueBtn{
  color: #fff;
  width: 118px;
  height: 32px;
  position: relative;
  left: 200px;
  top: 30px;
}
#comments .card{
  color: #092040 !important;
  max-width: 320px;
  margin: auto;
}
#comments .card-text{
  font-family: 'NotoSerifItalic';
  font-size: 14px;
}
#comments .slick-list{
  height: 360px;
}
#consultation input{
  margin-bottom: 10px;
}
#consultation textarea{
  margin-bottom: 10px;
}
#consultation h3{
  padding-top: 30px;
  padding-bottom: 30px;
}
#consultation button{
  width: 284px;
  height: 44px;
  margin-bottom: 30px;
}
#services button{
  color: #fff;
  width: 204px;
  height: 47px;
  cursor: pointer;
}
#services .card-text{
  margin-bottom: 4em;
}
#services .card-title{
  height: 60px;
  font-size: 24px;
}
#firstCard{
  background-image: url('../img/serviceImg/1.png');
  background-repeat: no-repeat;
  background-size: cover;
}
#secondCard{
  background-image: url('../img/serviceImg/2.png');
  background-repeat: no-repeat;
  background-size: cover;
}
#thirdCard{
  background-image: url('../img/serviceImg/3.png');
  background-repeat: no-repeat;
  background-size: cover;
}
#navbarNav{
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  z-index: 10;
  color: #092040 !important;
  background-color: #bce1f6;
  text-align: center;
}
#navbarNav p{
  margin: 0;
}
#navbarNav a{
  color: #092040 !important;
}
#toTop {
  width:100px;
  padding:5px;
  position:fixed;
  bottom:40px;
  right:10px;
  cursor:pointer;
  display:none;
}
@media (min-width: 992px){
  footer .lightBlueBtn{
    width: 146px;
    height: 30px
  }
  footer .blueBtn{
    width: 130px;
    height: 30px
  }
  nav .col-auto:hover{
  	border-bottom: 3px solid #2F9EE3;
  }
  nav a:hover{
  	text-decoration: none;
  }
  .consultationCaptchaDiv{
    display: flex !important;
  }
  .fancybox-content{
    width: 40%
  }
  .fancybox-content .captchaDiv{
    margin-bottom: 10px;
  }
  .headSliderarrows{
    top: -210px;
  }
  .my-dots{
    bottom: -25px;
  }
  .headSlider .lightBlueBtn{
    margin-bottom: 20px;
  }
  .headSlider .row{
    height: 370px;
    padding-left: 60px;
  }
  .partnersSlider .my-dotsDark {
    bottom: -35px;
  }
  #aboutCompany{
    height: 400px;
  }
  #consultation button{
    width: 330px;
    height: 44px;
    margin: auto;
  }
  #consultation .row{
  	margin-bottom: 46px;
  }
  #certificates{
    padding-bottom: 50px;
  }
  #services .card-text{
  	margin-bottom: 0;
  	height: 200px;
  }
  #partners{
    padding-bottom: 15px;
  }
  #partners h3{
  	padding-bottom: 0;
  	padding-top: 25px;
  }
  #services .card{
    width: 372px;
    height: 386px;
  }
  #consultation{
    background-image: url('../img/bg/consultation.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media (max-width: 992px){
	section h3{
  	  text-align: center;
  	  padding-top: 34px;
  	  padding-bottom: 34px;
	}
  .aboutServices p{
    margin-bottom: 40px;
  }
  .aboutServicesCol{
    margin-bottom: 40px;
  }
  .captchaDiv{
    padding: 0;
  }
  .captcha{
    width: 304px;
    margin: auto;
  }
  .cardBtn{
    text-align: center;
  }
  .fancybox-content p{
    text-align: center;
  }
  .headSlider .row{
    height: 350px;
  }
  .headSlider .col-lg-9{
    padding-left: 40px;
    padding-right: 50px;
  }
  .headSlider .lightBlueBtn{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
  .my-dots{
    bottom: 15px;
  }
  .mobileFooter{
    text-align: center;
  }
  .mobileFooter .logo{
	padding-bottom: 0; 
    background-size: contain;
    width: 212px;
    margin: auto;
  }
  .mobileFooter .blueBtn{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 180px;
    height: 40px;
  }
  .mobileFooter .lightBlueBtn{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 180px;
    height: 40px;
  }
  .mobileLogo{
    background-image: url('../img/icons/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-size: contain;
  }
  .mobileNavFooter{
    margin-bottom: 1rem;
  }
  .nav-item-first{
    padding-top: 0;
    margin-top: 1rem;
  }
  #aboutCompany{
    background-image: url('../img/bg/mobileNavBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
  }
  #aboutCompany p{
    font-size: 18px;
  }
  #callBackModal .card-img-top{
    height: 110px;
  }
  #consultation{
    background-color: #eaedfb;
  }
  #consultation button{
    text-align: center;
  }
  #consultation .captcha{
    margin-bottom: 16px;
  }
  #comments .blueBtn{
    left: 182px;
  }
  #certificates{
    padding-bottom: 80px;
  }
  #partners{
    padding-bottom: 40px;
  }
  #partners h3{
  	padding-bottom: 0;
  	padding-top: 15px;
  }
  #services .card{
    margin-bottom: 15px;
  }
  #services .col-lg-4{
    padding: 0;
  }
  #toTop{
    right: -50px;
  }
  #writeUsModal .card-img-top{
    height: 70px;
  }
}
@media (max-width: 350px){
  #comments .slick-list {
      height: 350px;
  }
  #comments .blueBtn {
    left: 42px;
  }
}
@media (max-width: 310px){
  #comments .slick-list {
      height: 380px;
  }
}
@media (max-width: 290px){
  #comments .slick-list {
      height: 400px;
  }
}
@media (max-width: 270px){
  #comments .slick-list {
      height: 420px;
  }
}
@media (max-width: 240px){
  #comments .slick-list {
      height: 470px;
  }
}